/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #151515;
    font-family: 'NanumGothic', 'AppleSDGothicNeo-Regular', sans-serif;
    line-height: 1.6;
    font-size: 5vw; /* Base font size for relative scaling */
}

/* Container */
.container {
    background-color: rgb(237, 238, 240);
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    padding: 1.25rem; /* Relative padding */
}

/* Headings */
h1 {
    font-size: 4rem; /* Relative to base font size */
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.625rem; /* Relative margin */
    text-align: center;
}

/* Paragraphs */
p {
    margin-bottom: 0.9375rem; /* Relative margin */
    font-size: 1rem;
    text-align: center;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Responsive Design */
@media (max-width: 720px) {
    body {
        font-size: 30px; /* Adjust base font size for smaller screens */
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}
/* Section */
section {
    margin-bottom: 4rem;
}

ul {
    padding: 0;
    margin: 0 0 3rem 0;
}

li {
    list-style-type: none;
    line-height: 2.7rem;
}
li > span {
    font-size: 1.7rem;
    color: #F9F9F9;
    background-color: #151515;
}

.shadow-1 {
    box-shadow: rgb(239, 129, 150) 4px 4px 0;
}

.shadow-2 {
    box-shadow: rgb(229, 190, 154) 4px 4px 0;
}

.shadow-3 {
    box-shadow: rgb(127, 128, 165) 4px 4px 0;
}

.shadow-4 {
    box-shadow: rgb(126, 91, 59) 4px 4px 0;
}

.shadow-5 {
    box-shadow: rgb(118, 193, 200) 4px 4px 0;
}

span.title {
    background-color: #FEFEFE;
}